<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <style>
        body {
            font-family: "Open Sans", sans-serif;
        }
    </style>
</head>
<body>
<h1>{{title}}</h1>
{{#if isAdmin}}
    <h2>
        Welcome, {{name}}
    </h2>
{{/if}}

<a href={{loginPage}}>Login</a>

<h2>
    <a href={{link}}>
        Go and create
    </a>
    </a>
</h2>
<section>
    <ul>
        {{#each list}}
            <li style="border: 1px solid; ">
                <p style="text-decoration: underline;font-size: 20px">{{title}}</p>
                <p style="padding: 1em">{{body}}</p>
            </li>
        {{/each}}
    </ul>
</section>

</body>
</html>